<% if @game_id.present? %>
    <div class="fl">
      <h2>
        <a id="create" style="text-decoration: none; color: #000000">Create a new thumbnail experiment for </a>
        <% if @game_class_name.present? %>
            <% if  @thumb_url_method.present? %>
                <img src="<%= Kernel.const_get(@game_class_name).find(@game_id).send(@thumb_url_method) %>"/>
            <% end %>
            <% if @game_name_method.present? %>
                <label><%= Kernel.const_get(@game_class_name).find(@game_id).send(@game_name_method) %></label>
            <% end %>
        <% end %>


      </h2>



      <form action=<%= url("start_test") %> method="post" enctype="multipart/form-data">

        <label for="images" class="label" style="font-weight: bold;  font-size: 1.0em; margin-left: 10px">Select
          thumbs</label>
        <input type="file" name="upload[]" id="upload[]" multiple />
        <br/><br/>
        <label for="max_participants" class="label" style="font-weight: bold;  font-size: 1.0em; margin-left: 10px">Max
          participants</label>
        <input type="number" name="max_participants" id="max_participants" value="30000"/>
        <br/><br/>
        <input type="submit" value="Begin test" />
        <input type="hidden" value="<%= @game_id %>" name="game_id"/>
      </form>
    </div>

<% end %>

<div class="fl">
  <h2>
    Current Experiments
  </h2>

  <% @current_experiments.each do |exp| %>
      <h3> <%= Kernel.const_get(@game_class_name).find(exp.name).send(@game_name_method) %></h3>
      <table>
        <tr>
          <th>Thumb</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>ctr</th>
        </tr>
        <% exp.alternatives.each do |alt| %>
            <tr>
              <td><img src="<%= alt.name %>"/></td>
              <td><%= alt.participant_count %></td>
              <td><%= alt.clicks %></td>
              <td><%= '%f%' % alt.ctr %></td>
            </tr>
        <% end %>
      </table>
      <br/>
  <% end %>


</div>

<div class="fl">
  <h2>
    Finished Experiments
  </h2>


  <% @finished_experiments.each do |exp| %>
      <h3><%= Kernel.const_get(@game_class_name).find(exp.game_id).send(@game_name_method) %></h3>
      <table>
        <tr>
          <th>Thumb</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>ctr</th>
        </tr>
        <% exp.thumbs.each do |alt| %>
            <tr>
              <td><img src="<%= alt.image %>"/></td>
              <td><%= alt.impressions %></td>
              <td><%= alt.clicks %></td>
              <% if alt.impressions == 0 %>
                  <td>0</td>
              <% else %>
                  <td><%= alt.clicks.to_f / alt.impressions.to_f %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
      <br/>
  <% end %>

</div>

